html {
  touch-action     : manipulation;
}

body {
  background-color : #d8fcff;
  font-size        : 20px;
  display          : flex;
  flex-direction   : column;
  align-items      : center;
  font-family      : "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
  user-select      : none;
}

#image-container {
  width            : 280px;
  height           : auto;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  overflow         : hidden;
}

img {
  max-width        : 100%;
  max-height       : 100%;
  transform-origin : center;
  cursor           : pointer;
}

.button-container {
  padding-top      : 10px;
}

button {
  color            : #FFFFFF;
  background-color : #336633;
  border           : none;
  border-radius    : 0.3rem;
  font-size        : medium;
  width            : 280px;
  padding          : 0.5rem 1rem;
  font-size        : 24px;
}

#kimariji {
  font-size        : 48px;
  font-weight      : bold;
  color            : #cc0000;
  margin           : 0;
  display          : none;
}
